workflows/planning.json
{
  "name": "PM Skills — Planning",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pm-planning",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "pm-planning"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body;\nconst skill = body.skill;\nconst inputs = body.inputs || {};\n\nconst skills = {\n\n  'sprint-planning': {\n    system: `You are an expert agile coach and engineering leader. Create detailed, realistic sprint plans. Be specific about capacity, trade-offs, and risks. Output in clean markdown.`,\n    user: `Create a sprint plan:\n\nSprint goal: ${inputs.sprint_goal || ''}\nTeam capacity: ${inputs.capacity || ''} (e.g. \"4 engineers × 8 days = 32 eng-days\")\nBacklog items to consider: ${inputs.backlog || ''}\nVelocity (last 3 sprints): ${inputs.velocity || 'not provided'}\nKnown risks or blockers: ${inputs.risks || 'none'}\n\nOutput: sprint goal statement, committed work with estimates, stretch goals, capacity breakdown, risks, and definition of done.`\n  },\n\n  'quarterly-planning': {\n    system: `You are an expert product and engineering leader. Create focused quarterly plans with clear themes, bets, and resource allocation. Avoid vague objectives — every item should be specific and measurable. Output in clean markdown.`,\n    user: `Create a quarterly plan:\n\nCompany/team: ${inputs.company || ''}\nQuarter: ${inputs.quarter || ''}\nAnnual goals this quarter serves: ${inputs.annual_goals || ''}\nAvailable resources: ${inputs.resources || ''}\nKey constraints: ${inputs.constraints || ''}\nTop opportunities: ${inputs.opportunities || ''}\n\nOutput: 2-3 quarterly themes, 4-6 specific bets with success metrics, resource allocation per theme, key risks, and a weekly milestone skeleton.`\n  },\n\n  'sprint-retro': {\n    system: `You are an expert agile facilitator. Structure sprint retrospectives that surface real issues and produce actionable improvements — not just feel-good exercises. Use the Start/Stop/Continue format with a focus on concrete action items. Output in clean markdown.`,\n    user: `Facilitate a sprint retrospective:\n\nTeam: ${inputs.team || ''}\nSprint number/dates: ${inputs.sprint || ''}\nWhat went well: ${inputs.went_well || ''}\nWhat didn't go well: ${inputs.went_poorly || ''}\nMetrics this sprint: ${inputs.metrics || ''}\nPrevious retro action items (completed?): ${inputs.previous_actions || 'not provided'}\n\nOutput: Start/Stop/Continue synthesis, root cause analysis for top 2 problems, 3 specific action items with owners and due dates, and one experiment to try next sprint.`\n  },\n\n  'feature-decomposition': {\n    system: `You are an expert product manager and engineer. Break down features into shippable chunks with clear dependencies, risks, and sequencing. Every chunk should be independently shippable and testable. Output in clean markdown.`,\n    user: `Break down this feature into shippable chunks:\n\nFeature: ${inputs.feature || ''}\nUser story: ${inputs.user_story || ''}\nTech stack/constraints: ${inputs.tech_stack || ''}\nTeam size: ${inputs.team_size || ''}\nDeadline: ${inputs.deadline || 'none'}\n\nOutput: feature overview, ordered list of shippable chunks (each with scope, acceptance criteria, estimated effort, dependencies), dependency map, risks, and recommended sequencing with rationale.`\n  },\n\n  'backlog-prioritizer': {\n    system: `You are an expert product manager. Prioritize backlogs using RICE (Reach, Impact, Confidence, Effort) scoring. Be explicit about your scoring assumptions. Show your math. Output in clean markdown with a prioritized table.`,\n    user: `Prioritize this backlog:\n\nItems to prioritize: ${inputs.items || ''}\nStrategic context: ${inputs.context || ''}\nFramework preference: ${inputs.framework || 'RICE'}\nTeam capacity: ${inputs.capacity || 'not specified'}\nCurrent quarter focus: ${inputs.focus || 'not specified'}\n\nOutput: scored and ranked table with RICE scores, top 5 recommended items with rationale, items to defer and why, and any dependencies to flag.`\n  }\n\n};\n\nconst skill_config = skills[skill];\nif (!skill_config) {\n  throw new Error(`Unknown skill: \"${skill}\". Valid options: ${Object.keys(skills).join(', ')}`);\n}\n\nreturn {\n  skill: skill,\n  system_prompt: skill_config.system,\n  user_message: skill_config.user\n};"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({\"model\":\"claude-sonnet-4-6\",\"max_tokens\":8192,\"system\":$json.system_prompt,\"messages\":[{\"role\":\"user\",\"content\":$json.user_message}]}) }}",
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000003",
      "name": "Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_ANTHROPIC_CREDENTIAL_ID",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.item.json;\nconst content = raw.content && raw.content[0] ? raw.content[0].text : '';\nconst skill = $('Build Prompt').item.json.skill;\nreturn {\n  skill: skill,\n  content: content,\n  word_count: content.split(/\\s+/).filter(w => w).length,\n  generated_at: new Date().toISOString()\n};"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000004",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 300]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": { "__rl": true, "mode": "id", "value": "YOUR_NOTION_PM_SKILLS_DB_ID" },
        "title": "={{ $json.skill + ' — ' + $now.toFormat('yyyy-MM-dd') }}",
        "propertiesUi": { "propertyValues": [] },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000005",
      "name": "Create Notion page",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [1080, 300],
      "credentials": { "notionApi": { "id": "YOUR_NOTION_CREDENTIAL_ID", "name": "Notion account" } }
    },
    {
      "parameters": {
        "resource": "block",
        "blockId": { "__rl": true, "value": "={{ $('Create Notion page').item.json.id }}", "mode": "id" },
        "blockUi": {
          "blockValues": [
            { "textContent": "={{ $('Parse Response').item.json.content.substring(0, 2000) }}" },
            { "textContent": "={{ $('Parse Response').item.json.content.length > 2000 ? $('Parse Response').item.json.content.substring(2000, 4000) : ' ' }}" },
            { "textContent": "={{ $('Parse Response').item.json.content.length > 4000 ? $('Parse Response').item.json.content.substring(4000, 6000) : ' ' }}" },
            { "textContent": "={{ $('Parse Response').item.json.content.length > 6000 ? $('Parse Response').item.json.content.substring(6000, 8000) : ' ' }}" }
          ]
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000006",
      "name": "Append content blocks",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [1300, 300],
      "credentials": { "notionApi": { "id": "YOUR_NOTION_CREDENTIAL_ID", "name": "Notion account" } }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'done', skill: $('Parse Response').item.json.skill, notion_url: $('Create Notion page').item.json.url, word_count: $('Parse Response').item.json.word_count, generated_at: $('Parse Response').item.json.generated_at }) }}",
        "options": { "responseHeaders": { "entries": [{ "name": "Content-Type", "value": "application/json" }] } }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000007",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1520, 300]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": { "main": [[{ "node": "Build Prompt", "type": "main", "index": 0 }]] },
    "Build Prompt": { "main": [[{ "node": "Claude", "type": "main", "index": 0 }]] },
    "Claude": { "main": [[{ "node": "Parse Response", "type": "main", "index": 0 }]] },
    "Parse Response": { "main": [[{ "node": "Create Notion page", "type": "main", "index": 0 }]] },
    "Create Notion page": { "main": [[{ "node": "Append content blocks", "type": "main", "index": 0 }]] },
    "Append content blocks": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": true },
  "tags": []
}
