workflows/research-analysis.json
{
  "name": "PM Skills — Research & Analysis",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pm-research",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "pm-research"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body;\nconst skill = body.skill;\nconst inputs = body.inputs || {};\n\nconst skills = {\n\n  'app-review-analyzer': {\n    system: `You are an expert UX researcher and product analyst. Extract themes, complaints, and feature requests from app reviews. Group by theme, quantify frequency, and prioritize by impact. Output in clean markdown with structured tables.`,\n    user: `Analyze these app reviews:\n\nApp/Product: ${inputs.product || ''}\nReviews: ${inputs.reviews || ''}\nRating filter: ${inputs.rating_filter || 'all ratings'}\nTime period: ${inputs.time_period || 'not specified'}\n\nOutput: top themes table (theme, frequency, sentiment, example quotes), top complaints ranked by frequency, top feature requests ranked by frequency, quick wins for the team, and recommended next steps.`\n  },\n\n  'win-loss-analyzer': {\n    system: `You are an expert in sales analysis and competitive intelligence. Analyze win/loss patterns to find the real reasons deals are won and lost — not the surface-level reasons. Output in clean markdown with specific recommendations.`,\n    user: `Analyze win/loss patterns:\n\nProduct: ${inputs.product || ''}\nWins data: ${inputs.wins || ''}\nLosses data: ${inputs.losses || ''}\nCompetitors involved: ${inputs.competitors || ''}\nDeal size/segment: ${inputs.segment || ''}\nTime period: ${inputs.time_period || 'not specified'}\n\nOutput: win patterns (what's driving wins), loss patterns (what's driving losses), competitor-specific insights, top 3 product gaps to close, top 3 sales/positioning improvements, and recommended actions by team (product, sales, marketing).`\n  },\n\n  'ab-test-analyzer': {\n    system: `You are an expert in statistics and experimentation. Interpret A/B test results with statistical rigor. Flag common errors (peeking, multiple comparisons, novelty effects). Give clear, actionable recommendations. Output in clean markdown.`,\n    user: `Analyze this A/B test:\n\nTest name: ${inputs.test_name || ''}\nHypothesis: ${inputs.hypothesis || ''}\nControl results: ${inputs.control || ''}\nVariant results: ${inputs.variant || ''}\nSample size: ${inputs.sample_size || ''}\nTest duration: ${inputs.duration || ''}\nSignificance level used: ${inputs.significance || '95%'}\nSecondary metrics: ${inputs.secondary_metrics || 'none'}\n\nOutput: statistical significance assessment, practical significance (effect size), confidence interval, whether to ship/iterate/abandon with rationale, risks and caveats, and recommended follow-up experiments.`\n  },\n\n  'ab-test-designer': {\n    system: `You are an expert in experimentation design. Design statistically sound A/B tests with clear hypotheses, proper sample size calculations, and guardrail metrics. Catch design flaws before they happen. Output in clean markdown.`,\n    user: `Design an A/B test:\n\nWhat we want to test: ${inputs.what_to_test || ''}\nHypothesis: ${inputs.hypothesis || ''}\nPrimary metric: ${inputs.primary_metric || ''}\nBaseline conversion rate: ${inputs.baseline || ''}\nMinimum detectable effect: ${inputs.mde || ''}\nDaily traffic available: ${inputs.daily_traffic || ''}\nRisks to guard against: ${inputs.risks || ''}\n\nOutput: formal hypothesis, control and variant definitions, primary and guardrail metrics, sample size calculation with math, recommended test duration, segmentation plan, and pre-test checklist.`\n  },\n\n  'funnel-analyzer': {\n    system: `You are an expert in growth and conversion optimization. Diagnose conversion funnel problems by identifying the biggest drop-offs and generating data-backed hypotheses for why they're happening. Output in clean markdown.`,\n    user: `Analyze this conversion funnel:\n\nProduct/flow: ${inputs.product || ''}\nFunnel steps and conversion rates: ${inputs.funnel || ''}\nUser segment: ${inputs.segment || 'all users'}\nTime period: ${inputs.time_period || 'not specified'}\nKnown context: ${inputs.context || ''}\n\nOutput: funnel visualization (text-based), biggest drop-off identification, 3-5 hypotheses per major drop-off (with reasoning), quick wins to test first, recommended experiments ranked by expected impact vs effort.`\n  },\n\n  'experiment-designer': {\n    system: `You are an expert in product experimentation. Design rigorous experiments beyond simple A/B tests — including multivariate tests, holdout groups, and staged rollouts. Output in clean markdown with a complete experiment brief.`,\n    user: `Design an experiment:\n\nProblem to solve: ${inputs.problem || ''}\nHypothesis: ${inputs.hypothesis || ''}\nExperiment type preferred: ${inputs.type || 'A/B test'}\nSuccess metrics: ${inputs.metrics || ''}\nConstraints: ${inputs.constraints || ''}\nRisk tolerance: ${inputs.risk_tolerance || 'medium'}\n\nOutput: experiment brief (hypothesis, methodology, metrics, duration), detailed design, rollout plan, analysis plan, risk mitigation, and decision framework for when to ship/iterate/kill.`\n  },\n\n  'competitive-profile': {\n    system: `You are an expert in competitive intelligence using Gibson Biddle's DHM (Delight customers, Hard to copy, Margin-enhancing) framework. Create comprehensive competitor profiles that reveal strategic intent, not just feature lists. Output in clean markdown.`,\n    user: `Create a competitive profile:\n\nCompetitor: ${inputs.competitor || ''}\nOur product: ${inputs.our_product || ''}\nIndustry context: ${inputs.industry || ''}\nKey areas to analyze: ${inputs.focus_areas || 'product, pricing, positioning, go-to-market, customers'}\n\nOutput: company overview, product analysis (DHM framework), pricing and packaging, target customer profile, positioning and messaging, strengths and weaknesses, likely strategic moves, and how we should respond.`\n  }\n\n};\n\nconst skill_config = skills[skill];\nif (!skill_config) {\n  throw new Error(`Unknown skill: \"${skill}\". Valid options: ${Object.keys(skills).join(', ')}`);\n}\n\nreturn {\n  skill: skill,\n  system_prompt: skill_config.system,\n  user_message: skill_config.user\n};"
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000002",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({\"model\":\"claude-sonnet-4-6\",\"max_tokens\":8192,\"system\":$json.system_prompt,\"messages\":[{\"role\":\"user\",\"content\":$json.user_message}]}) }}",
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000003",
      "name": "Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 300],
      "credentials": { "httpHeaderAuth": { "id": "YOUR_ANTHROPIC_CREDENTIAL_ID", "name": "Header Auth account" } }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.item.json;\nconst content = raw.content && raw.content[0] ? raw.content[0].text : '';\nconst skill = $('Build Prompt').item.json.skill;\nreturn {\n  skill: skill,\n  content: content,\n  word_count: content.split(/\\s+/).filter(w => w).length,\n  generated_at: new Date().toISOString()\n};"
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000004",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 300]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": { "__rl": true, "mode": "id", "value": "YOUR_NOTION_PM_SKILLS_DB_ID" },
        "title": "={{ $json.skill + ' — ' + $now.toFormat('yyyy-MM-dd') }}",
        "propertiesUi": { "propertyValues": [] },
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000005",
      "name": "Create Notion page",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [1080, 300],
      "credentials": { "notionApi": { "id": "YOUR_NOTION_CREDENTIAL_ID", "name": "Notion account" } }
    },
    {
      "parameters": {
        "resource": "block",
        "blockId": { "__rl": true, "value": "={{ $('Create Notion page').item.json.id }}", "mode": "id" },
        "blockUi": {
          "blockValues": [
            { "textContent": "={{ $('Parse Response').item.json.content.substring(0, 2000) }}" },
            { "textContent": "={{ $('Parse Response').item.json.content.length > 2000 ? $('Parse Response').item.json.content.substring(2000, 4000) : ' ' }}" },
            { "textContent": "={{ $('Parse Response').item.json.content.length > 4000 ? $('Parse Response').item.json.content.substring(4000, 6000) : ' ' }}" },
            { "textContent": "={{ $('Parse Response').item.json.content.length > 6000 ? $('Parse Response').item.json.content.substring(6000, 8000) : ' ' }}" }
          ]
        }
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000006",
      "name": "Append content blocks",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [1300, 300],
      "credentials": { "notionApi": { "id": "YOUR_NOTION_CREDENTIAL_ID", "name": "Notion account" } }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'done', skill: $('Parse Response').item.json.skill, notion_url: $('Create Notion page').item.json.url, word_count: $('Parse Response').item.json.word_count, generated_at: $('Parse Response').item.json.generated_at }) }}",
        "options": { "responseHeaders": { "entries": [{ "name": "Content-Type", "value": "application/json" }] } }
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000007",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1520, 300]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": { "main": [[{ "node": "Build Prompt", "type": "main", "index": 0 }]] },
    "Build Prompt": { "main": [[{ "node": "Claude", "type": "main", "index": 0 }]] },
    "Claude": { "main": [[{ "node": "Parse Response", "type": "main", "index": 0 }]] },
    "Parse Response": { "main": [[{ "node": "Create Notion page", "type": "main", "index": 0 }]] },
    "Create Notion page": { "main": [[{ "node": "Append content blocks", "type": "main", "index": 0 }]] },
    "Append content blocks": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": true },
  "tags": []
}
